{% extends "layout.html.twig" %}

{% block title %}contact{% endblock %}

  {% block info %}href="#current"{% endblock %}

{% block content %}
<section id="current">
    <div class="container-fluid">
        <div class="starter-template" style="padding-top: 50px;">
            <div class="pass" class="row">
                <div class=" col-lg-offset-3 col-lg-6">
                    <div style="text-align:center;">
                        <img style="width:40%;" src="/theme/img/border.png">
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Qui suis-je ? :</h3>
                        </div>
                        <div class="panel-body">
                            <a  href="/Claus_von_Wagner_Portait.JPG">
                              <img style="width:40%"; src="/theme/img/Claus_von_Wagner_Portait.JPG">
                            </a>
                            <p  style="text-align:justify">Coactique aliquotiens nostri pedites ad eos persequendos scandere clivos sublimes etiam si lapsantibus plantis fruticeta prensando vel dumos ad vertices venerint summos, inter arta tamen et invia nullas acies explicare permissi nec firmare nisu valido gressus: hoste discursatore rupium abscisa volvente, ruinis ponderum inmanium consternuntur, aut ex necessitate ultima fortiter dimicante, superati periculose per prona discedunt.</p>
                        </div>
                    </div>
                    <div style="text-align:center;">
                        <img style="width:40%;" src="/theme/img/border.png">
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Pourquoi publier en ligne ? :</h3>
                        </div>
                        <div class="panel-body">
                            <p style="text-align:justify">Coactique aliquotiens nostri pedites ad eos persequendos scandere clivos sublimes etiam si lapsantibus plantis fruticeta prensando vel dumos ad vertices venerint summos, inter arta tamen et invia nullas acies explicare permissi nec firmare nisu valido gressus: hoste discursatore rupium abscisa volvente, ruinis ponderum inmanium consternuntur, aut ex necessitate ultima fortiter dimicante, superati periculose per prona discedunt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
